/* cajas */

.box{
  width: 170px;
  height: 40px;
  background: var(--gray);
  border: solid 1px;
  text-align: center;
}

.box-float-left{
  float: left;
}

.box-float-right{
  float: right;
}

.box-02{
  width:40%;
  height: 200px;
  background: var(--gray);
  margin: auto;
}

.box-02:hover .box-ta{
  opacity: 1;
}

.box-02:hover .box-tf{
  opacity: 1;
}

.box-02:hover .box-tr{
  opacity: 1;
}

.box-02 div{
  background: var(--blue);
  padding: 4px;
  border: solid 2px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}
.box-header{
  width: 208px;
  height: 1000px;
}

.box-header img{
  height: 100px;
}

.box-test{
  width: 100px;
  height: 30px;
  opacity: 0;
}

.box-ta{
  position: absolute;
  top:40px;
  left:40px;
  transition: opacity 0.4s;
}

.box-tf{
  position: fixed;
  top:40px;
  left:160px;
  transition: opacity 0.4s;
}

.box-tr{
  position: relative;
  top:60px;
  left:-50%;
  transition: opacity 0.4s;
}

.columnas{
  columns: 4 20px;
  column-rule-style:dotted ;
}

/*
column-count: ;
column-width: ;
column-span: ;
column-gap: ;
column-rule-color: ; 
*/

.columnas div{
  text-align: center;
  border: solid
}