/* cajas */
main section{
  width: 100%;
  min-height: 120px;
}

.test-box{
  width: 100px;
  height: 40px;
  margin: 5px;
  border: solid 1px var(--red);
  background: var(--green);
}

.test-box-02{
  width: 200px;
  height: 260px;
  border: solid 1px var(--red);
  background: var(--green);
  overflow: hidden;
  perspective: 500px;
  transform-style: preserve-3d;
  background-image: url(../img/20231014_112316.jpg);
  background-size: cover;
  background-position: center;
}

.test-box div{
  width: 100%;
  height: 30px;
  background: var(--gray);
  border: solid 1px;
}

.example div{
  width: 20px;
  height: 20px;
  background: var(--green);
  border: solid 1px var(--red);
}

.display__block{          display: block;}
.display__inline-block{   display: inline-block;}
.display__flex{           display: flex;}
.display__flex div{       display: flex;}

.float-left div{float: left;}
.float-right div{float:right;}

.justify-content__start{        justify-content: start;}
.justify-content__end{          justify-content: end;}
.justify-content__center{       justify-content: center;}
.justify-content__space-around{ justify-content: space-around;}
.justify-content__space-between{justify-content: space-between;}
.justify-content__space-evenly{ justify-content: space-evenly;}

.align-items__stretch{align-items: stretch;}

.align-items__flex-start{align-items: flex-start;}
.align-items__center{align-items: center;}
.align-items__stretch div{background: var(--green);  width: 20px;}

.inputs input{display: block;}

/* BORDES */

.bs__dotted{  border-style: dotted; border-width: thick; background: var(--gray);}
.bs__dashed{  border-style: dashed; background: var(--gray);}
.bs__solid{   border: 5px solid var(--red); background: var(--gray);}
.bs__double{  border: 5px double var(--red); background: var(--gray);}
.bs__groove{  border: 5px groove var(--red); background: var(--gray);}
.bs__ridge{   border: 5px ridge var(--red); background: var(--gray);}
.bs__inset{   border: 5px inset var(--red); background: var(--gray);}
.bs__outset{  border: 5px outset var(--red); background: var(--gray);}
.bs__none{    border: none;}
.bs__hidden{  border: hidden;}
.bs__mix{     border: 5px var(--red); border-style: dotted solid dashed double; background: var(--gray);}

/* FILTROS */

.filter__drop-shadow{ filter:drop-shadow(10px 10px 4px var(--gray));}
.filter__blur{        filter:blur(2px);}
.filter__grayscale{   filter:grayscale(.8);}
.filter__sepia{       filter:sepia(1);}
.filter__brightness{  filter:brightness(1.5);}
.filter__contrast{    filter:contrast(3);}
.filter__hue-rotate{  filter:hue-rotate(150deg);}
.filter__invert{      filter:invert(1);}
.filter__saturate{    filter:saturate(2);}
.filter__opacity{     filter:opacity(.5);}

/* TRANSFORMACIONES */

.t2d__scale{    transform: scale(0.8,0.8);}
.t2d__rotate{   transform: rotate(20deg);}
.t2d__skew{     transform: skew(20deg);}
.t2d__translate{transform: translate(100px,0px);}

.t3d__scale{     transform: scale3d(0.8,0.8,0.8);}
.t3d__translate{ transform: translate3d(400px,20px,20px);}
.t3d__rotate{    transform: rotateX(-10deg) rotateY(-20deg) rotateZ(-10deg);}

/* SpriteSheets */
/* Inicio: 550 ; Espacios: 580 Lado:290 Botella:750 ; 1330*/
/* https://www.freepik.es/vector-gratis/botella-pocion-laboratorio-quimico-animacion-aplicaciones-juegos-frasco-alquimista-elixir-fluido-o-antidoto-hoja-sprites-vacia-llenada-conjunto-activos-ilustracion-alquimia-fantasia-interfaz-rol-mago_66410853.htm#fromView=search&page=1&position=3&uuid=050a563b-4693-4246-82ab-abc6206b1888&query=spritesheet */

.spritesheet div{
  width: 133px;
  height: 280px;
  margin: auto;
  border:dotted 4px var(--cyan);
  background-image: url("../img/2308.w026.n002.3685B.p1.3685.jpg");
  background-size: 700px 280px;
  background-repeat: no-repeat;
  background-image: center;
  overflow: hidden;
}

.spritesheet__flame{
  animation: flame 1s steps(5) infinite;
}

@keyframes flame{
  from{background-position: -26px;}
  to{background-position: -691px;}
}

