/* cajas */

main section{
  width: 100%;
  min-height: 120px;
}

.test-box{
  width: 100px;
  height: 50px;
  border: solid 1px var(--red);
  background: var(--green);
}

.test-box div{
  width: 100px;
  height: 30px;
  background: var(--gray);
  border: solid 1px;
}

.example div{
  width: 20px;
  height: 20px;
  background: var(--green);
  border: solid 1px var(--red);
}

.inline-block{  display: inline-block;}
.test-flex{     display: flex;}
.test-flex div{ display: flex;}

.float-left div{float: left;}
.float-right div{float:right;}

.justify-content__start{        justify-content: start;}
.justify-content__end{          justify-content: end;}
.justify-content__center{       justify-content: center;}
.justify-content__space-around{ justify-content: space-around;}
.justify-content__space-between{justify-content: space-between;}
.justify-content__space-evenly{ justify-content: space-evenly;}

.align-items__stretch{align-items: stretch;}

.align-items__flex-start{align-items: flex-start;}
.align-items__center{align-items: center;}
.align-items__stretch div{background: var(--green);  width: 20px;}

.bs__dotted{  border-style: dotted; border-width: thick; background: var(--gray);}
.bs__dashed{  border-style: dashed; background: var(--gray);}
.bs__solid{   border: 5px solid var(--red); background: var(--gray);}
.bs__double{  border: 5px double var(--red); background: var(--gray);}
.bs__groove{  border: 5px groove var(--red); background: var(--gray);}
.bs__ridge{   border: 5px ridge var(--red); background: var(--gray);}
.bs__inset{   border: 5px inset var(--red); background: var(--gray);}
.bs__outset{  border: 5px outset var(--red); background: var(--gray);}
.bs__none{    border: none;}
.bs__hidden{  border: hidden;}
.bs__mix{     border: 5px var(--red); border-style: dotted solid dashed double; background: var(--gray);}

.filter__drop-shadow{ filter:drop-shadow(10px 10px 4px var(--gray));}
.filter__blur{        filter:blur(2px);}
.filter__grayscale{   filter:grayscale(.8);}
.filter__sepia{       filter:sepia(1);}
.filter__brightness{  filter:brightness(2);}
.filter__contrast{    filter:contrast(4);}
.filter__hue-rotate{  filter:hue-rotate(150deg);}
.filter__invert{      filter:invert(1);}
.filter__saturate{    filter:saturate(2);}
.filter__opacity{     filter:opacity(.5);}