:root {
  --green:rgb(133, 243, 133);
  --white:#ffffff;
  --black:#000000;
  --blue:#0f0fbe;
  --gray:#808080;
  --cyan:#00FFFF;
  --brown:#946231;
  --red:#bd4242;
}

* { /* Estilo general */
  color: var(--white); /* Fuente */
  font-family: helvetica;
  margin:0%;
  padding: 0%;
  background: var(--black);
}

.display__block{          display: block;}
.display__inline-block{   display: inline-block;}
.display__flex{           display: flex;}
.display__flex div{       display: flex;}
.df__dc{display: flex; flex-direction: column;}

.position__static{  position: static;}
.position__absolute{position: absolute;}
.position__relative{position: relative;}
.position__sticky{  position: sticky; top: 40px;}

.float-left{    float: left;}
.float-right{   float: right;}

.ta__c{text-align: center;}

/* nav nav nav nav nav nav nav nav nav nav nav nav */

li{list-style: none;}

nav a:hover, nav svg:hover{
  background: var(--blue);
  cursor: pointer;
}

/* nav nav nav nav nav nav nav nav nav nav nav nav */
/* Header Header Header Header Header Header Navbar*/

#header{
  width: auto;
  height: 82px;
  align-content: center;
  align-items: center;
  border: solid 1px var(--red);
}

#logo-img{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
  width: 180px;
  height: 60px;
}

#logo-img img{
  background: var(--white);
  height: 100%;
  border-radius: 10px;
  object-fit:contain;
}

#profile{
  display: flex;
  align-content: center;
  align-items: center;
  height: 62px;
}

#profile-img{
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
  height: 60px;
}

#profile-img img{
  background: var(--white);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit:contain;
}

#profile div{
  padding: 0px 5px 0px 5px;
}

/* Header Header Header Header Header Header Header*/
/* Navbar Navbar Navbar Navbar Navbar Navbar Navbar*/

#navbar{
  height: 40px;
  max-width: 600px;
  display: flex;
  border: solid 1px var(--red);
  flex-wrap: nowrap;
  margin: auto;
}

#navbar ul{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

#navbar li{
  display: flex;
  height: 100%;
  width: 100%;
}

#navbar li a{
  height: 100%;
  white-space: nowrap;
  align-content: center;
  text-align: center;
  padding: 0 10px 0 10px;
  margin: 0px 5px 0px 5px;
}

#navbar #menu{
  display: none;
}

#navbar svg{
  height: 28px;
  padding: 6px 5px 6px 5px;
}

/* Navbar Navbar Navbar Navbar Navbar Navbar */

#layout{
  display: flex;
  flex: 1;
  min-height: 80vh;
}

/* sidebars sidebars sidebars sidebars sidebars */

#left-sidebar, #right-sidebar{
  width: 180px;
  position: sticky;
  top: 0;
  border: solid 1px var(--red);
  overflow: scroll;
}

#left-sidebar ul, #right-sidebar ul{
  display: flex;
  flex-direction: column;
  border: solid 1px var(--red);
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#left-sidebar li, #right-sidebar li{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

#left-sidebar a, #right-sidebar a{
  width: 100%;
  padding: 5px 0px 5px 0px;
}

/* sidebars sidebars sidebars sidebars sidebars */
/* main main main main main main main main main*/

main{
  display: flex;
  flex: 1;
  flex-direction: column;
  border: solid 1px var(--red);
  align-items: center;
  align-content: space-evenly;
}

/* bio bio bio bio bio bio bio bio bio bio bio bio bio */
#bio{
  width: 800px;
  border: solid 1px var(--red);
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

#bio-a{
  width: 40%;
  flex-direction: column;
  border: solid 1px var(--red);
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

#bio-img{
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
  height: 200px;
}

#bio-img img{
  background: var(--white);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit:contain;
}

#bio-b{
  width: 60%;
  padding: 10px;
}

.icon svg{
  height: 20px;
  width: 20px;
  object-fit: contain;
}

/* footer footer footer footer footer footer footer */

footer{
  display: flex;
  height: 82px;
  justify-content: center;
}



@media (max-width: 880px){
  #logo-img{order: 1; width:60px}
  #profile{order: 2;margin: auto;}  
  #navbar{order: 3;
    width:40px;
    float: right;
    margin: 0%;
  }

  #left-sidebar, #right-sidebar{
    display: none;
  }

  #profile div{
    display: none;
  }

  #bio, #bio-a{
    flex-direction: column;
    width: 100%;
  }

  #navbar ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: auto;
    top: 85px;
    left: 180px;
    width: 180px;
  }

  #navbar li, #navbar a{
    width: 100%;
  }

  #navbar #menu{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}
