:root {
    --green:#00FF00;
    --white:#ffffff;
    --black:#000000;
    --blue:#0000ff;
    --gray:#808080;
    --cyan:#00FFFF;
    --brown:#804000;
    --red:#ff0000;
}

* { /* Estilo general */
    color: var(--white); /* Fuente */
    font-family: helvetica;
    text-align: center;
    vertical-align: middle;
    margin:0%;
    padding: 0%;
    background: var(--black);
}

/* Grid */

body.body{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    grid:
        "top top top" auto
        "top2 top2 top2" auto
        "left main right" 1fr
        "bottom bottom bottom" auto
        / auto 1fr auto;
    gap: 8px;
}

.grid-area__top{    grid-area: top;}
.grid-area__top2{   grid-area: top2;}
.grid-area__left{   grid-area: left;}
.grid-area__main{   grid-area: main;}
.grid-area__right{  grid-area: right;}
.grid-area__bottom{ grid-area: bottom;}

header, header *, .grid-area__top2,
footer, footer *, .grid-area__top2 *{
    height:45px;
    background: var(--brown);
    display: inline-block;
    overflow: hidden;
}

.grid-area__left, .grid-area__left *,
.grid-area__right, .grid-area__right *{
    background: var(--brown);
    display: block;
    overflow: hidden;
}

header ul *:hover, .grid-area__top2 ul *:hover,
footer ul *:hover, .grid-area__left ul *:hover,
.grid-area__right ul *:hover{
    background: var(--blue);
}

main{
    width: 100%;
}

footer{
    grid-row: 2;
}

.float-left{float: left;}
.float-right{float: right;}